:root {
    --ground-bg-h: 300px;
    --ground-bg-w: 1000px;
    --ground-bg-overlap-h: 15px;
    --ground-bg-bottom: calc(0px - (var(--ground-bg-h) - var(--ground-bg-overlap-h)));
    --ground-bg-top: calc(2px - var(--ground-bg-overlap-h));
    --ground-bg-right: -100px;

    --cloud-baseline: 110px;
    --cloud-1-h: 90px;
    --cloud-2-h: 45px;
    --cloud-1-disp: calc(var(--cloud-baseline) - var(--cloud-1-h));
    --cloud-2-disp: calc(var(--cloud-baseline) - var(--cloud-2-h));
}

html {
    background-size: 100%;
    background: #6e3001 linear-gradient(180deg, #ae4f00 0%, #6e3001 50%) no-repeat;
    color: #FFFFFF;
}

body {
    background-image: url("assets/svg/cloud_1.svg"), url("assets/svg/cloud_2.svg");
    background-position: top var(--cloud-1-disp) right 90%, top calc(15px + var(--cloud-2-disp)) right 7%;
    background-size: auto var(--cloud-1-h), auto var(--cloud-2-h);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;

    max-width: 1440px;
    margin: 0 auto;
    font-family: "Saira", sans-serif;
    padding: 20px 0;
}

h1, h2 {
    font-weight: 600;
}

h1 {
    font-family: Garamond, serif;
    color: rgb(255 155 74);
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section, header, footer {
    padding: 0 15px;
}

section.intro {
    background-image: url("assets/svg/ground_bg.svg"), url("assets/webp/man_woman.webp"), url("assets/webp/trees.webp"), url("assets/svg/sun_bg.svg");
    background-size: var(--ground-bg-w) var(--ground-bg-h), 70%, 25%, contain;
    background-position: bottom var(--ground-bg-bottom) right var(--ground-bg-right), right 50px bottom , bottom left, right bottom;
    background-repeat: no-repeat;
    padding-top: 20%;
    padding-bottom: 50%;
    background-clip: border-box;
    background-origin: border-box;
    /*hack - can't seem to get rid of a line between sections without doing this */
    position: relative;
    bottom: -2px;
}

section.intro h2, section.intro p {
    padding-top: 20px;
}

section.features {
    background-image: url("assets/svg/ground_bg.svg"), linear-gradient(180deg, #e5770c 0%, #472603 50%), linear-gradient(180deg, #472603 0%, #472603 50%);;
    background-position: top var(--ground-bg-top) right var(--ground-bg-right), top, bottom right;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    background-size: var(--ground-bg-w) var(--ground-bg-h), 100% var(--ground-bg-h), 100%;
}

section.features, section.questions div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

section.features article h2 {
    color: hsl(31, 100%, 10%);
}

section.features article p {
    color: hsl(31, 100%, 25%);
}

section.features article.one {
    background-image: url("assets/svg/text_cloud_1.svg");
}

section.features article.two {
    background-image: url("assets/svg/text_cloud_2.svg");
}

section.features article.three {
    background-image: url("assets/svg/text_cloud_3.svg");
}

section.features article.four {
    background-image: url("assets/svg/text_cloud_4.svg");
}

section article {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin: 10px;
    padding: 60px 20px 50px 20px;
    width: 200px;
    height: 150px;
}

section article > * {
    padding-bottom: 20px;
}

section.questions h2 {
    width: 100%;
    text-align: center;
}

footer h2 {
    text-align: center;
}

@media only screen and (min-width: 560px) {
    section.features {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 685px) {
    section.intro {
        padding-bottom: 12%;
        padding-right: 60%;
        background-size: var(--ground-bg-w) var(--ground-bg-h), 50%, 15%, contain;
        background-position: bottom var(--ground-bg-bottom) right var(--ground-bg-right), right 50px bottom -5px, bottom left, right bottom -200px;
    }

    section.features {
        background-image: url("assets/svg/ground_bg.svg"), linear-gradient(180deg, #EF9326FF 0%, #472603 50%), linear-gradient(180deg, #472603 0%, #472603 50%);;
   }

    :root {
        --cloud-baseline: 140px;
        --cloud-1-h: 150px;
        --cloud-2-h: 70px;
    }
}

@media only screen and (min-width: 815px) {
    :root {
        --ground-bg-overlap-h: 32px;
        --ground-bg-h: 400px;
        --ground-bg-w: 1250px;
    }
}

@media only screen and (min-width: 990px) {
    :root {
        --ground-bg-h: 672px;
        --ground-bg-w: 1910px;
    }

    h2, h3, p {
        font-size: 1.2rem;
    }

    section.intro {
        padding-top: 15%;
    }
}

@media only screen and (min-width: 1050px) {
    section.features {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
