:root {
  --ground-bg-h: 300px;
  --ground-bg-w: 1000px;
  --ground-bg-overlap-h: 15px;
  --ground-bg-bottom: calc(
    0px - (var(--ground-bg-h) - var(--ground-bg-overlap-h))
  );
  --ground-bg-top: calc(2px - var(--ground-bg-overlap-h));
  --ground-bg-right: -100px;
  --ground-bottom-bg-top: 110px;
  --ground-bottom-top-color: #462604;
  --bottom-gradient-height: 26%;

  --cloud-baseline: 110px;
  --cloud-1-h: 90px;
  --cloud-2-h: 45px;
  --cloud-1-disp: calc(var(--cloud-baseline) - var(--cloud-1-h));
  --cloud-2-disp: calc(var(--cloud-baseline) - var(--cloud-2-h));
}

html {
  background-size: 100%;
  background: #6e3001 linear-gradient(180deg, #ae4f00 0%, #6e3001 50%) no-repeat;
  color: #ffffff;
}

body {
  background-image: url("assets/svg/cloud_1.svg"), url("assets/svg/cloud_2.svg");
  background-position: top var(--cloud-1-disp) right 90%,
    top calc(15px + var(--cloud-2-disp)) right 7%;
  background-size: auto var(--cloud-1-h), auto var(--cloud-2-h);
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;

  max-width: 1440px;
  margin: 0 auto;
  font-family: "Saira", sans-serif;
  padding: 20px 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-family: Garamond, serif;
  color: rgb(255 155 74);
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  background-image: url("assets/svg/sun_bg.svg");
  background-size: contain;
  background-position: top 440px right;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
}

section,
header,
footer {
  padding: 0 15px;
}

.button {
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
  background-color: #f9a027;
  padding: 5px 15px;
  border-radius: 50px;
  transition: all ease-in-out 400ms;
}

.button:hover {
  background-color: #1f1209;
}

section.intro {
  background-image: url("assets/svg/ground_bg.svg"),
    url("assets/webp/man_woman.webp"), url("assets/webp/trees.webp");
  background-size: var(--ground-bg-w) var(--ground-bg-h), 70%, 25%;
  background-position: bottom var(--ground-bg-bottom) right
      var(--ground-bg-right),
    right 50px bottom, bottom left;
  background-repeat: no-repeat;
  padding-top: 20%;
  padding-bottom: 50%;
  background-clip: border-box;
  background-origin: border-box;
  /*hack - can't seem to get rid of a line between sections without doing this */
  position: relative;
  bottom: -2px;
}

section.intro h2,
section.intro p {
  padding-top: 20px;
}

section.intro .contact-button {
  display: inline-block;
  background-color: #e86805;
  margin-top: 20px;
}

section.features {
  background-image: url("assets/svg/ground_bg.svg"),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 100px, #472603 -100px);
  background-position: top var(--ground-bg-top) right var(--ground-bg-right),
    top right;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-size: var(--ground-bg-w) var(--ground-bg-h), 100%;
}

section.features,
section.questions div {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

section.features article h2 {
  color: hsl(31, 100%, 10%);
}

section.features article p {
  color: hsl(31, 100%, 25%);
}

section.features article.one {
  background-image: url("assets/svg/text_cloud_1.svg");
}

section.features article.two {
  background-image: url("assets/svg/text_cloud_2.svg");
}

section.features article.three {
  background-image: url("assets/svg/text_cloud_3.svg");
}

section.features article.four {
  background-image: url("assets/svg/text_cloud_4.svg");
}

section article {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  margin: 10px;
  padding: 60px 20px 50px 20px;
  width: 200px;
  height: 150px;
}

section article > * {
  padding-bottom: 20px;
}

section.questions {
  background: url("assets/svg/brown_bottom_bg.svg"),
    linear-gradient(
      180deg,
      var(--ground-bottom-top-color) 0%,
      var(--ground-bottom-top-color) var(--bottom-gradient-height),
      #613506 var(--bottom-gradient-height),
      #613506 100%
    );
  background-position: top var(--ground-bottom-bg-top) right 0, top 0 right 0;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  background-size: 100% auto, cover;
}

section.questions h2 {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  color: #ef8e21;
  font-weight: 200;
}

section.questions article {
  background-color: #fbe2ba;
  border-radius: 25px;
  margin: 10px;
  padding: 0 60px 0 0;
  width: 225px;
  height: 180px;
}

section.questions article h3 {
  color: #ef8e21;
  font-weight: bold;
  border-radius: 25px 25px 0px 0px;
  background-color: #221202;
  background-position: 20px 20px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  width: 100%;
  padding: 30px 0 10px 60px;
}

section.questions article.one h3 {
  background-image: url("assets/svg/principles_icon.svg");
}

section.questions article.two h3 {
  background-image: url("assets/svg/audience_icon.svg");
}

section.questions article.three h3 {
  background-image: url("assets/svg/technology_icon.svg");
}

section.questions article p {
  color: #000000;
  padding: 20px 20px 0 20px;
}

footer h2 {
  text-align: center;
}

@media only screen and (min-width: 560px) {
  section.features {
    grid-template-columns: 1fr 1fr;
  }

  :root {
    --bottom-gradient-height: 35%;
  }
}

@media only screen and (min-width: 685px) {
  main {
    background-position: top 220px right;
  }

  section.intro {
    padding-bottom: 12%;
    padding-right: 60%;
    background-size: var(--ground-bg-w) var(--ground-bg-h), 50%, 15%;
    background-position: bottom var(--ground-bg-bottom) right
        var(--ground-bg-right),
      right 50px bottom -5px, bottom left;
  }

  :root {
    --cloud-baseline: 140px;
    --cloud-1-h: 150px;
    --cloud-2-h: 70px;
    --bottom-gradient-height: 40%;
  }
}

@media only screen and (min-width: 815px) {
  :root {
    --ground-bg-overlap-h: 32px;
    --ground-bg-h: 400px;
    --ground-bg-w: 1250px;
  }
}

@media only screen and (min-width: 990px) {
  :root {
    --ground-bg-h: 672px;
    --ground-bg-w: 1910px;
    --ground-bottom-bg-top: 90px;
    --ground-bottom-top-color: #412303;
  }

  h2,
  h3,
  p {
    font-size: 1.2rem;
  }

  .button {
    font-size: 1rem;
  }

  section.intro {
    padding-top: 15%;
  }

  section.questions article {
    height: 220px;
  }
}

@media only screen and (min-width: 1050px) {
  section.features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  section.questions div {
    grid-template-columns: repeat(3, auto);
    height: 360px;
  }

  :root {
    --ground-bottom-top-color: #2b1604;
    --bottom-gradient-height: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  section.questions div {
    grid-template-columns: repeat(3, auto);
    margin: 0 160px;
  }
}
