.hero_container {
  background: linear-gradient(180deg, #ae4f00 0%, #6e3001 100%);
  padding-bottom: 50%;
  z-index: 0;
}

.cloud_1 {
  position: absolute;
  width: 25%;
  height: auto;
  top: 0;
  left: 10%;
}

.cloud_2 {
  position: absolute;
  width: 30%;
  height: auto;
  top: 5%;
  left: 60%;
}

.text_section {
  padding-top: 20%;
  z-index: 2;
}

.image_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.rel_img_container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  /* overflow: hidden; */
}

.sun_bg {
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: 100%;
}

.trees {
  position: absolute;
  bottom: 10%;
  left: -3%;
  z-index: 1;
  width: 30%;
  height: auto;
}

.people {
  position: absolute;
  z-index: 1;
  bottom: 10%;
  right: 2%;
  width: 68%;
  height: auto;
}

/* .ground {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  bottom: -23%;
} */

@media (min-width: 768px) {
  .cloud_1 {
    width: 15%;
  }

  .cloud_2 {
    width: 18%;
  }

  .text_section {
    padding-top: 8%;
  }

  .trees {
    width: 25%;
    left: 0;
  }
}

@media (min-width: 1024px) {
  .hero_container {
    padding-bottom: 30%;
  }

  .people {
    width: 64%;
  }
}

@media (min-width: 1280px) {
  .hero_container {
    padding-bottom: 35%;
  }

  .cloud_1 {
    width: 10%;
  }

  .cloud_2 {
    width: 13%;
  }
}

@media (min-width: 1536px) {
  .hero_container {
    padding-bottom: 45%;
  }
}
