:root {
    --ground-bg-h: 300px;
    --ground-bg-w: 1000px;
    --ground-bg-overlap-h: 15px;
    --ground-bg-bottom: calc(0px - (var(--ground-bg-h) - var(--ground-bg-overlap-h)));
    --ground-bg-top: calc(0px - var(--ground-bg-overlap-h));
    --ground-bg-right: -100px;
    --ground-bottom-bg-top: 7rem;
    --ground-bottom-top-color: #462604;
    --bottom-gradient-height: 26%;

    --cloud-baseline: calc(40px + 1rem);
    --cloud-1-h: 70px;
    --cloud-2-h: 30px;
    --cloud-1-disp: calc(var(--cloud-baseline) - var(--cloud-1-h));
    --cloud-2-disp: calc(var(--cloud-baseline) - var(--cloud-2-h));
}

html {
    background-size: 100%;
    background: #6e3001 linear-gradient(180deg, #ae4f00 0%, #6e3001 50%) no-repeat;
    color: #ffffff;
}

body {
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;

    max-width: 1440px;
    margin: 0 auto;
    font-family: "Saira", sans-serif;
    padding: 0;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-family: Garamond, serif;
    color: #f9a027;
    font-size: 2rem;
}

header {
    padding: 15px 15px 0 15px;
}

header.show-hamburger, .share ul {
    background-color: #472603;
}

.large-screen {
    display: none;
}

header.show-hamburger li.try, header.show-hamburger li.share {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header.show-hamburger > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
}

header.show-hamburger li {
    font-size: 1rem;
    width: 100px;
    padding-top: 0;
    margin-left: 0;
}

header li.hamburger {
    align-self: flex-start;
}

header li.hamburger button {
    padding-left: 5px;
}

header li.hamburger img {
    height: 25px;
}

header.show-hamburger li.hamburger img {
    transform: rotate(90deg);
    transition: 0.4s ease-in-out;
}

header.hamburger li.hamburger img {
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;
}

.share ul {
    padding: 15px;
    display: none;
}

.share.open ul {
    display: block;
    position: static;
    padding: 5px 0 0 15px;
}

.share li {
    margin: 14px 5px;
}

.share li.copy {
    display: flex;
    flex-direction: row;
}

.share input {
    background-color: #ae4f00;
    color: #cccccc;
    border: #cccccc;
    padding: 4px;
    width: 9rem;
}

.share li.copy button img {
    height: 25px;
}

.share li.copy button {
    margin: 0 8px;
    background-image: none;
    padding: 0;
}

.popup {
    --popup-width: 14rem;
    display: none;
    position: fixed;
    width: var(--popup-width);
    background-color: #aaaaaa44;
    top: 30vh;

    left: calc(50vw - calc(var(--popup-width) / 2));
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

#copy-popup.open {
    height: 100px;
    line-height: 100px;
}

#try-popup {
    padding-bottom: 20px;
}

#try-popup > h2 {
    font-weight: normal;
}

#try-popup > p {
    font-weight: lighter;
    font-size: 1rem;
}

#try-popup > * {
    margin: 15px;
}

.popup.open {
    display: block;
}

.share li.twitter a {
    background-image: url("../svg/twitter.svg");
    padding-left: 30px;
}

.share li.facebook a {
    background-image: url("../svg/facebook.svg");
    padding-left: 30px;
}

.iconified {
    background-image: url("../png/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

section.intro h1.iconified {
    padding-left: 2rem
}

header li.home a {
    font-weight: 600;
    font-size: 1.4rem;
}

header.hamburger li.try {
    margin-left: auto;
}

nav li {
    margin-right: 17px;
    font-size: 0.8rem;
    margin-top: 18px;
}

nav ul li.try a {
    background-image: url("../svg/rocket-solid.svg");
}

nav ul li.share button {
    background-image: url("../svg/share-nodes-solid.svg");
}

header nav button, header nav a {
    cursor: pointer;
    border: none;
    color: inherit;
    display: block;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    padding-left: 25px;
}

main {
    background-image: url("../svg/cloud_1.svg"), url("../svg/cloud_2.svg"), url("../svg/sun_bg.svg");
    background-size: auto var(--cloud-1-h), auto var(--cloud-2-h), contain;
    background-position: top var(--cloud-1-disp) right 90%,
    top calc(15px + var(--cloud-2-disp)) right 7%, top 28rem right;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
}

section,
footer {
    padding: 0 15px;
}

.button {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    background-color: #f9a027;
    padding: 5px 15px;
    border-radius: 50px;
    transition: background-color ease-in-out 400ms;
}

.button:hover {
    background-color: #100f0f;
    text-decoration: none;
}

section.intro {
    background-image: url("../svg/ground_bg.svg"), url("../webp/man_woman.webp"), url("../webp/trees.webp");
    background-size: var(--ground-bg-w) var(--ground-bg-h), 70%, 25%;
    background-position: bottom var(--ground-bg-bottom) right var(--ground-bg-right), right 50px bottom, bottom left;
    background-repeat: no-repeat;
    padding-top: 20%;
    padding-bottom: 53%;
    background-clip: border-box;
    background-origin: border-box;
}

section.intro h2,
section.intro p {
    padding-top: 20px;
}

section .contact-button {
    display: inline-block;
    background-color: #e86805;
    margin-top: 20px;
    height: 1.2rem;
    line-height: 1.2rem;
}

section.features {
    background-image: url("../svg/ground_bg.svg"), linear-gradient(180deg, rgba(0, 0, 0, 0) 100px, #472603 -100px);
    background-position: top var(--ground-bg-top) right var(--ground-bg-right), top right;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    background-size: var(--ground-bg-w) var(--ground-bg-h), 100%;
}

section.features,
section.questions div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

section.features article h2 {
    color: hsl(31, 100%, 10%);
}

section.features article p {
    color: hsl(31, 100%, 25%);
}

section.features article.one {
    background-image: url("../svg/text_cloud_1.svg");
}

section.features article.two {
    background-image: url("../svg/text_cloud_2.svg");
}

section.features article.three {
    background-image: url("../svg/text_cloud_3.svg");
}

section.features article.four {
    background-image: url("../svg/text_cloud_4.svg");
}

section.features article {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin: 10px;
    padding: 60px 20px 10px 20px;
    width: 200px;
    min-height: 180px;
}

section article > * {
    padding-bottom: 20px;
}

section.questions {
    background: url("../svg/brown_bottom_bg.svg"),
    linear-gradient(
            180deg,
            var(--ground-bottom-top-color) 0%,
            var(--ground-bottom-top-color) var(--bottom-gradient-height),
            #613506 var(--bottom-gradient-height),
            #613506 100%
    );
    background-position: top var(--ground-bottom-bg-top) right 0, top 0 right 0;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    background-size: 100% auto, cover;
}

section.questions h2 {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    color: #ef8e21;
    font-weight: 200;
    padding-bottom: 30px;
}

section.questions a {
    width: 9rem;
    display: block;
    margin: 0 auto 35px;
    text-align: center;
}

section.questions article {
    background-color: #fbe2ba;
    border-radius: 25px;
    margin: 10px;
    width: 225px;
    min-height: 180px;
}

section.questions article h3 {
    color: #ef8e21;
    font-weight: bold;
    border-radius: 25px 25px 0 0;
    background-color: #221202;
    background-position: 20px 20px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    padding: 30px 0 10px 60px;
}

section.questions article.one h3 {
    background-image: url("../svg/principles_icon.svg");
}

section.questions article.two h3 {
    background-image: url("../svg/audience_icon.svg");
}

section.questions article.three h3 {
    background-image: url("../svg/technology_icon.svg");
}

section.questions article p {
    color: #000000;
    padding: 20px 20px 10px 20px;
}

footer {
    text-align: center;
    padding: 50px 0 15px 0;
    background-color: #633507;
}

footer h2 {
    color: #e86805;
}

footer p {
    color: #ff9b4a;
    padding: 20px 0;
    margin: 0 15px;
}

footer a {
    color: #ffb980;
}

footer nav a {
    background-image: url("../svg/github-mark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 24px;
    color: #ccc;
    font-size: 1rem;
}

footer nav ul {
    justify-content: center;
}

@media only screen and (min-width: 560px) {

    header li.share.open ul {
        --dialog-width: ;
        position: absolute;
        width: 13rem;
        box-shadow: 5px 5px 6px 2px rgba(50, 50, 50, 0.38);
        flex-direction: column;
        padding: 15px;
        align-self: flex-end;
        top: 60px;

    }

    header li.share.open  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    section.intro h1.iconified {
        padding-left: 0;
        background-image: none;
    }

    header a, header button {
        font-size: 1rem;
    }

    .large-screen {
        display: block;
    }

    .small-screen {
        display: none;
    }

    header.show-hamburger {
        background-color: transparent;
    }

    header.show-hamburger nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header li.try {
        margin-left: auto;
    }

    section.features {
        grid-template-columns: 1fr 1fr;
    }

    .popup {
        --popup-width: 24rem;
    }

    :root {
        --bottom-gradient-height: 35%;
    }
}

@media only screen and (min-width: 685px) {
    main {
        background-position: top var(--cloud-1-disp) right 90%, top calc(15px + var(--cloud-2-disp)) right 7%, top 19rem right;
    }

    section.intro {
        padding-bottom: 12%;
        padding-right: 60%;
        background-size: var(--ground-bg-w) var(--ground-bg-h), 50%, 15%;
        background-position: bottom var(--ground-bg-bottom) right var(--ground-bg-right),
        right 50px bottom -5px, bottom left;
    }

    :root {
        --cloud-baseline: calc(90px + 1rem);
        --cloud-1-h: 150px;
        --cloud-2-h: 70px;
        --bottom-gradient-height: 40%;
    }
}

@media only screen and (min-width: 815px) {
    :root {
        --ground-bg-overlap-h: 32px;
        --ground-bg-h: 400px;
        --ground-bg-w: 1250px;
    }
}

@media only screen and (min-width: 990px) {
    :root {
        --ground-bg-h: 672px;
        --ground-bg-w: 1910px;
        --ground-bottom-bg-top: 5rem;
        --ground-bottom-top-color: #412303;
    }

    h2,
    h3 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.2rem;
    }

    section.intro {
        padding-top: 15%;
    }

    section.questions article {
        min-height: 220px;
    }

    section.questions div {
        grid-template-columns: repeat(3, auto);
        min-height: 360px;
    }
}

@media only screen and (min-width: 1050px) {
    section.features {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    :root {
        --ground-bottom-top-color: #2b1604;
        --bottom-gradient-height: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    section.questions div {
        grid-template-columns: repeat(3, auto);
        margin: 0 160px;
    }
}
