:root {
    --ground-bg-h: 300px;
    --ground-bg-w: 1000px;
    --ground-bg-overlap-h: 15px;
    --ground-bg-bottom: calc(0px - (var(--ground-bg-h) - var(--ground-bg-overlap-h)));
    --ground-bg-top: calc(0px - var(--ground-bg-overlap-h));
    --ground-bg-right: -100px;
    --ground-bottom-bg-top: 7rem;
    --ground-bottom-top-color: #462604;
    --bottom-gradient-height: 26%;

    --cloud-baseline: calc(80px + 1rem);
    --cloud-1-h: 70px;
    --cloud-2-h: 30px;
    --cloud-1-disp: calc(var(--cloud-baseline) - var(--cloud-1-h));
    --cloud-2-disp: calc(var(--cloud-baseline) - var(--cloud-2-h));
}

html {
    background-size: 100%;
    background: #6e3001 linear-gradient(180deg, #ae4f00 0%, #6e3001 50%) no-repeat;
    color: #ffffff;
}

body {
    background-image: url("../svg/cloud_1.svg"), url("../svg/cloud_2.svg");
    background-position: top var(--cloud-1-disp) right 90%,
    top calc(15px + var(--cloud-2-disp)) right 7%;
    background-size: auto var(--cloud-1-h), auto var(--cloud-2-h);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;

    max-width: 1440px;
    margin: 0 auto;
    font-family: "Saira", sans-serif;
    padding: 20px 0 0 0;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-family: Garamond, serif;
    color: rgb(255 155 74);
    font-size: 2rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    padding: 7px 0 4px 30px;
}

nav ul li.home a {
    background-image: url("../png/logo.png");
}

nav ul li.share {
    margin-left: auto;
    margin-right: 17px;
}

nav ul li.share button {
    cursor: pointer;
    border: none;
    color: inherit;
    background-color: transparent;
    background-image: url("../svg/share-nodes-solid.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    padding: 4px 0 4px 30px;
}

main {
    background-image: url("../svg/sun_bg.svg");
    background-size: contain;
    background-position: top 28rem right;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
}

section,
header,
footer {
    padding: 0 15px;
}

.button {
    text-decoration: none;
    font-size: 0.8rem;
    color: white;
    background-color: #f9a027;
    padding: 5px 15px;
    border-radius: 50px;
    transition: all ease-in-out 400ms;
}

.button:hover {
    background-color: #1f1209;
    text-decoration: none;
}

section.intro {
    background-image: url("../svg/ground_bg.svg"), url("../webp/man_woman.webp"), url("../webp/trees.webp");
    background-size: var(--ground-bg-w) var(--ground-bg-h), 70%, 25%;
    background-position: bottom var(--ground-bg-bottom) right var(--ground-bg-right), right 50px bottom, bottom left;
    background-repeat: no-repeat;
    padding-top: 20%;
    padding-bottom: 53%;
    background-clip: border-box;
    background-origin: border-box;
}

section.intro h2,
section.intro p {
    padding-top: 20px;
}

section.intro .contact-button {
    display: inline-block;
    background-color: #e86805;
    margin-top: 20px;
}

section.features {
    background-image: url("../svg/ground_bg.svg"), linear-gradient(180deg, rgba(0, 0, 0, 0) 100px, #472603 -100px);
    background-position: top var(--ground-bg-top) right var(--ground-bg-right), top right;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    background-size: var(--ground-bg-w) var(--ground-bg-h), 100%;
}

section.features,
section.questions div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

section.features article h2 {
    color: hsl(31, 100%, 10%);
}

section.features article p {
    color: hsl(31, 100%, 25%);
}

section.features article.one {
    background-image: url("../svg/text_cloud_1.svg");
}

section.features article.two {
    background-image: url("../svg/text_cloud_2.svg");
}

section.features article.three {
    background-image: url("../svg/text_cloud_3.svg");
}

section.features article.four {
    background-image: url("../svg/text_cloud_4.svg");
}

section.features article {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin: 10px;
    padding: 60px 20px 10px 20px;
    width: 200px;
    min-height: 180px;
}

section article > * {
    padding-bottom: 20px;
}

section.questions {
    background: url("../svg/brown_bottom_bg.svg"),
    linear-gradient(
            180deg,
            var(--ground-bottom-top-color) 0%,
            var(--ground-bottom-top-color) var(--bottom-gradient-height),
            #613506 var(--bottom-gradient-height),
            #613506 100%
    );
    background-position: top var(--ground-bottom-bg-top) right 0, top 0 right 0;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    background-size: 100% auto, cover;
}

section.questions h2 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: #ef8e21;
    font-weight: 200;
}

section.questions article {
    background-color: #fbe2ba;
    border-radius: 25px;
    margin: 10px;
    width: 225px;
    min-height: 180px;
}

section.questions article h3 {
    color: #ef8e21;
    font-weight: bold;
    border-radius: 25px 25px 0 0;
    background-color: #221202;
    background-position: 20px 20px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: border-box;
    padding: 30px 0 10px 60px;
}

section.questions article.one h3 {
    background-image: url("../svg/principles_icon.svg");
}

section.questions article.two h3 {
    background-image: url("../svg/audience_icon.svg");
}

section.questions article.three h3 {
    background-image: url("../svg/technology_icon.svg");
}

section.questions article p {
    color: #000000;
    padding: 20px 20px 10px 20px;
}

footer {
    text-align: center;
    padding: 50px 0 15px 0;
    background-color: #633507;
}

footer h2 {
    color: #e86805;
}

footer p {
    color: #ff9b4a;
    padding: 20px 0;
    margin: 0 auto;
}

footer a {
    color: #ffb980;
}

footer nav a {
    background-image: url("../svg/github-mark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 24px;
    color: #ccc;
    font-size: 1rem;
}

footer nav ul {
    justify-content: center;
}

@media only screen and (min-width: 560px) {
    section.features {
        grid-template-columns: 1fr 1fr;
    }

    footer p {
        width: 400px;
    }

    :root {
        --bottom-gradient-height: 35%;
    }
}

@media only screen and (min-width: 685px) {
    main {
        background-position: top 19rem right;
    }

    section.intro {
        padding-bottom: 12%;
        padding-right: 60%;
        background-size: var(--ground-bg-w) var(--ground-bg-h), 50%, 15%;
        background-position: bottom var(--ground-bg-bottom) right var(--ground-bg-right),
        right 50px bottom -5px, bottom left;
    }

    :root {
        --cloud-baseline: calc(140px + 1rem);
        --cloud-1-h: 150px;
        --cloud-2-h: 70px;
        --bottom-gradient-height: 40%;
    }
}

@media only screen and (min-width: 815px) {
    :root {
        --ground-bg-overlap-h: 32px;
        --ground-bg-h: 400px;
        --ground-bg-w: 1250px;
    }
}

@media only screen and (min-width: 990px) {
    :root {
        --ground-bg-h: 672px;
        --ground-bg-w: 1910px;
        --ground-bottom-bg-top: 5rem;
        --ground-bottom-top-color: #412303;
    }

    h2,
    h3 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.2rem;
    }

    .button {
        font-size: 1rem;
    }

    section.intro {
        padding-top: 15%;
    }

    section.questions article {
        min-height: 220px;
    }

    section.questions div {
        grid-template-columns: repeat(3, auto);
        min-height: 360px;
    }
}

@media only screen and (min-width: 1050px) {
    section.features {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    :root {
        --ground-bottom-top-color: #2b1604;
        --bottom-gradient-height: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    section.questions div {
        grid-template-columns: repeat(3, auto);
        margin: 0 160px;
    }
}
