@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200;400;600&display=swap");

body {
  /* background: linear-gradient(180deg, #ae4f00 0%, #6e3001 100%); */
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Saira", sans-serif;
}

/* header */
.logo-circle {
  background: linear-gradient(304.62deg, #d25d01 19.27%, #d97212 141.57%);
}
